!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title= "JSON-ROA" 

    %title 
      %span JSON-ROA 
      - if current_page.data.title.present?
        %span  - #{current_page.data.title}
    = stylesheet_link_tag "app"
    = javascript_include_tag "app"


  %body{class: "#{page_classes}"}
    .container

      %nav.navbar.navbar-default(role="navigation")
        .navbar-header
          %a.navbar-brand{href: "index.html"} 
            JSON-ROA 
            %em 1.0.0
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{href: "specification.html"} 
                Specification
            %li
              %a{href: "http://json-roa.github.io/browser/index.html"} 
                The JSON-ROA Browser



      = yield
